* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background-color: green;
  display: flex;
  align-items: center;
}
header .bg-colors {
  background-color: white;
  height: 100%;
  box-shadow: black 2px 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px;
}

header .color-palette {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-bg-color, .btn-text-color{
  width: 40px;
  height: 40px;
}

header .bg-colors span {
  color: wblackhite;
}

.text-color-palette {

}
.btn-text-color {
  border-radius: 50%;
}

main {
  padding: 0 150px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  line-height: 150%;
}

p {
  padding: 30px;
  margin: 0;
}

footer {
  height: 70px;
  background-color: green;
  position: relative;
  bottom: px;
}
