* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background-color: green;
}

main {
  background-color: wheat;
  padding: 0 150px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  line-height: 150%;
}

p {
  padding: 30px;
  margin: 0;
}

footer {
  height: 70px;
  background-color: green;
  position: relative;
  bottom: px;
}

h1,
h2,
h3 {
  display: block;
}
