* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background-color: green;
}

main {
  background-color: wheat;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  padding: 30px;
  margin: 0;
}

footer {
  height: 70px;
  background-color: green;
  position: relative;
  bottom: px;
}
