body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: aqua;
}

header nav {
    display: inline-block;
}

header nav .page-links li {
    display: inline-block;
    margin-left: 15px;
}

header nav .page-links li a {
    text-decoration: none;
    color: black;
}

#full-article {
    margin: 30px 100px 30px 50px;
}

#full-article section article {
    display: flex;
    align-items: top;
}

#full-article section article p {
    margin-right: 200px;
}

#full-article section img {
    width: 30%;
    border-radius: 20px;
}