body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: aqua;
}

header nav {
    display: inline-block;
}

header nav .page-links li {
    display: inline-block;
    margin-left: 15px;
}

header nav .page-links li a {
    text-decoration: none;
    color: black;
}

#full-article .article-title {
    text-align: center;
    font-size: 2em;
}

#full-article {
    margin: 30px 100px;
}

#full-article .facts {
    text-align: center;
}

#full-article section {
    margin-bottom: 80px;
}

#full-article .section-title {
    margin-left: 30px;
}

#full-article section .section-description {
    display: flex;
    align-items: center;
    margin: 15px 30px;
}

#full-article section .section-description p {
    margin-right: 20px;
    line-height: 1.5em;
}

table {
    border-collapse: collapse;
    margin: 0px 35px;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px 20px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

td:nth-child(odd) {
    text-align: left;
    padding: 8px 8px;
}

#full-article section .section-description img {
    width: 35%;
    border-radius: 20px;
}