@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

* {
  margin: 0;
  padding: 0;
}

.counter {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  flex-wrap: wrap;
  max-width: 600px;
}

.display {
  background-color: black;
  color: white;
  font-size: 200px;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;
  height: 80%;
}

.btn {
  height: 20%;
  font-size: large;
  border-radius: 0 0 15px 15px;
}